/* General Navbar Styles */
.navbar {
  width: 100%; 
  margin-left: 0; 
  background-color: black !important;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Navbar Links */
.navbar a {
  color: white !important;
  padding: 10px 15px;
  display: inline-block;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Hover Effect for Navbar Links */
.navbar a:hover {
  color: #68c2b7 !important;
}

/* Flexbox for contact info and Request Demo button */
.navbar-contact-demo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Responsive Styles for Tablet and Mobile */
@media (max-width: 1200px) {
  .navbar-contact-demo {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
  }

  .navbar-contact-demo .contact-info,
  .navbar-contact-demo .request-demo {
      margin: 10px 0;
      text-align: center;
  }

  .navbar-contact-demo .request-demo {
      width: 100%;
  }
}

/* Request Demo Button Styles */
.request-demo:hover {
  background-color: turquoise; /* Change background on hover */
  color: white !important; /* Keep text white on hover */
  border-color: black; /* Change border color on hover */
}

.request-demo {
  background-color: black; /* Initial button color */
  color: white !important; /* Initial text color */
  padding: 10px 20px;
  border-radius: 50px;
  border: 2px solid turquoise;
  font-weight: bold;
  text-align: center;
  transition: background 0.3s ease, border-color 0.3s ease;
}

/* Button adjustment for mobile */
@media (max-width: 768px) {
.request-demo {
  padding: 6px 12px; 
  width: 40%;
  font-size: 12px; 
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
}

/* Icon Styles for Phone */
.phone-icon-wrapper {
  background-color: transparent;
  border: 2px solid #68c2b7;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease, border-color 0.3s ease;
  display: none;
}

.phone-icon-wrapper i {
  color: #68c2b7;
}

/* Hide contact text */
.contact-text {
display: none;
}

/* Navbar Dropdown Styling */
.navbar-dark .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.9) !important;
  border: none;
}

/* Navbar Dropdown Text */
.navbar-dark .dropdown-item {
  color: #ffffff !important;
}

/* Navbar Dropdown Text Hover */
.navbar-dark .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: #68c2b7 !important;
}

.logo-img {
  max-width: 200px; 
  height: auto; 
  object-fit: contain;
}

/* Slide down animation */
@keyframes slideDown {
0% {
  transform: translateY(-10%);
  opacity: 0;
}
100% {
  transform: translateY(0);
  opacity: 1;
}
}

/* Slide up animation */
@keyframes slideUp {
0% {
  transform: translateY(0);
  opacity: 1;
}
100% {
  transform: translateY(-10%);
  opacity: 0;
}
}

.dropdown-menu {
display: none;
}

.dropdown-menu.slide-down {
display: block;
animation: slideDown 0.2s forwards;
}

.dropdown-menu.slide-up {
animation: slideUp 0.2s forwards;
}

@media (max-width: 1024px) {
  .navbar-contact-demo {
    display: none !important;
  }
}
